/* Custom styles for my resume :-)
  --------------------------------------*/
body{
  font:BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif; 

}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

a:hover, a:focus{
  background-color:rgba(255, 193, 7, 0.21);
  text-decoration:none;
}
